@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <div class="mainText">

        <h1 class="display-4 text-capitalize ">Welcome To Razor Pizzas</h1>
        <h4 class="fw-lighter display-6 mb-5" >Razor Shrp Pizza, is The Pizza for you and me!</h4>

    </div>

    <img class="mainImage" src="~/imgs/PizzaTime.webp" alt="Main Image" />
    
    <br />
    
    <Buttno class="btn btn-primary mb-5" asp-area="" asp-page="Forms/CustomPizza">Start Make Pizza</Buttno>

</div>
