@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomPizzas">Custom Pizzas</a>
<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout Page</a>
<a class="nav-link text-dark" asp-area="" asp-page="Checkout/ThankYou">Thank you Page</a>
