@page
@model RazorPizzaria.Pages.Checkout.CheckoutModel
@{
}


<h1>Your Order Here</h1>

@{
    var ImagePath = "~/imgs/" + (@Model.ImageTitle + ".webp");
}

<div class="align-content-center">

    <div class="col-3 mx-auto mb-5">

        <img src=@ImagePath class="w-100" asp-append-version="true" />

        <p>Your Order For @Model.PizzaName Is Ready!</p>

        <p>Total Price for Your Order Will be: @Model.PizzaPrice$ </p><br />

        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Your Order</a>

    </div>

</div>